@import url(https://fonts.googleapis.com/css?family=Fraunces:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Barlow:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root{
    --font-Barlow: 'Barlow', serif;
    --font-Fraunces: 'Fraunces', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header img.header-img{
    width: 100%;
    margin-bottom: -4px;
}
header nav{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 40px;
}
header nav .logo-header img{
    width: 180px;
}
header nav ul{
    list-style: none;
    display: flex;
    gap: 45px;
}
header nav ul li{
    padding-top: 9px;
    font-size: 18px;
}
header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: var(--font-Barlow);
    font-weight: 500;
}
header nav ul button{
    padding: 20px 30px;
    margin-top: -8px;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: var(--font-Fraunces);
}
header nav ul button:hover{
    background-color: hsl(200, 100%, 72%);
    color: #fff;
    transition: 0.3s ease;
    cursor: pointer;
}

header h1.header-heading{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: clamp(1rem, 5vw, 3.3rem);
    color: #fff;
    font-family: var(--font-Fraunces);
}
header img.arrow-down{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}

main section{
    display: flex;
    flex-wrap: wrap;
}
main section article.art-1, main section img.transform-img, main section img.standout-img, main section article.art-2, main section figure.graphic-design, main section figure.photography{
    width: 50%;
}
main section figure.graphic-design img{
    width: 100%;
}
main section figure.photography img{
    width: 100%;
}
main section article.art-1 .art-1-contents, main section article.art-2 .art-2-contents{
    position: relative;
    top: 24%;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}
main section article.art-1 .art-1-contents{
    padding: 0 4% 0 12%;
}
main section article.art-2 .art-2-contents{
    padding: 0 12% 0 4%;
}
main section article.art-1 .art-1-contents h1, main section article.art-2 .art-2-contents h1{
    color: hsl(212, 27%, 19%);
    width: 100%;
    font-size: 2.5rem;
    font-weight: 1000;
    margin-bottom: 40px;
    font-family: var(--font-Fraunces);
}
main section article.art-1 .art-1-contents p, main section article.art-2 .art-2-contents p{
    font-size: 18px;
    opacity: 0.5;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
    letter-spacing: 0.3px;
    margin-bottom: 40px;
    line-height: 1.8rem;
    font-family: var(--font-Barlow);
}
main section article.art-1 .art-1-contents button, main section article.art-2 .art-2-contents button{
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 1000;
    cursor: pointer;
    font-family: var(--font-Fraunces);
}
main section article.art-1 .art-1-contents button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 13.3%;
    right: 0;
    height: 10px;
    background: hsl(51, 100%, 49%);
    z-index: -1;
    opacity: 0.4;
    width: 150px;
    border-radius: 150px;
}
main section article.art-1 .art-1-contents button:hover::after{
    opacity: 1;
    transition: 0.3s ease;
}
main section article.art-2 .art-2-contents button::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 3.2%;
    right: 0;
    height: 10px;
    background: hsl(7, 99%, 70%);
    z-index: -1;
    opacity: 0.4;
    width: 150px;
    border-radius: 150px;
}
main section article.art-2 .art-2-contents button:hover::after{
    opacity: 1;
    transition: 0.3s ease;
}
main section figure{
    position: relative;
}
main section figure figcaption{
    position: absolute;
    width: 50%;
    top: 65%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
main section figure figcaption h2{
    margin-bottom: 30px;
    font-weight: 1000;
    font-family: var(--font-Fraunces);
}
main section figure figcaption p{
    font-family: var(--font-Barlow);
    font-weight: 800;
    line-height: 1.6rem;
    opacity: 0.8;
}
main section figure.graphic-design figcaption{
    color: hsl(167, 40%, 24%);
}
main section figure.photography figcaption{
    color: hsl(198, 62%, 26%);
}

section.testimonials{
    text-align: center;
}
section.testimonials h2{
    margin: 150px auto -20px auto;
    font-family: var(--font-Fraunces);
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 1.3rem;
    opacity: 0.4;
}
section.testimonials main{
    display: flex;
    margin: 8%;
}
section.testimonials main article{
    width: 80%;
}
section.testimonials main article img{
    border-radius: 100%;
    width: 80px;
}
section.testimonials main article p.main-para{
    margin: 60px auto 80px auto;
    width: 90%;
    font-family: var(--font-Barlow);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.8rem;
    opacity: 0.6;
}
section.testimonials main article h3{
    font-weight: 1000;
    margin-bottom: 15px;
    font-family: var(--font-Fraunces);
}
section.testimonials main article p.client-designation{
    opacity: 0.5;
    font-family: var(--font-Barlow);
    font-weight: 700;
    margin-bottom: 50px;
}

section.bottom-imgs img{
    width: 25%;
}

footer{
    background-color: hsl(167, 44%, 70%);
}
footer section{
    text-align: center;
}
footer section svg.footer-logo{
    margin: 60px auto 40px auto;
}
footer section svg.footer-logo path{
    fill: hsl(166, 44%, 32%);
}
footer section ul.footer-links{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 60px;
}
footer section ul.footer-links li{
    list-style: none;
}
footer section ul.footer-links li a{
    text-decoration: none;
    color: hsl(166, 44%, 32%);
    font-family: var(--font-Barlow);
    font-weight: 500;
}
footer section ul.footer-links li a:hover{
    color: #fff;
    transition: 0.3s ease;
}

footer section ul.social-icons{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 80px;
}
footer section ul.social-icons li{
    list-style: none;
}
footer section ul.social-icons li a{
    text-decoration: none;
}
footer section ul.social-icons li a svg path:hover{
    fill: #fff;
    transition: 0.3s ease;
}